---
server:
  port: 8686 # указываем порт, на котором будет развернут микросервис

mail:
  lead:
    subject:
      consult: Получить консультацию, Консультация на странице, Заявка на странице, Контактная форма
      demonstration: Заказать демонстрацию, Запрос демонстрации
      demo-access: Демо-доступ
      community: Скачивание Citeck ECOS Community, Скачивание Citeck Community
      price: Запрос стоимости
      cloud: Заявка на демо-доступ к Citeck ECOS в облаке
      community-subscription: Подписка на рассылку о Community
      partnership-request: Стать партнером
      special-offer: Акция
    pattern:
      dealNumber: "(?<=Сделка #).*$"
      from: "(?m)(?<=От:).*$"
      company: "(?m)(?<=Компания:).*$"
      subject: "(?m)(?<=Тема:).*$"
      fio: "(?m)(?<=ФИО:).*$"
      position: "(?m)(?<=Должность:).*$"
      department: "(?m)(?<=Департамент:).*$"
      phone: "(?m)(?<=Телефон:).*$"
      email: "(?m)(?<=E-mail:).*$"
      siteFrom: "(?m)(?<=Страница заполнения заявки -).*$"
      numberOfUsers: "(?m)(?<=Количество пользователей:).*$"
      comment: "Комментарий:([\\s\\S\\n]+)Страница перехода"
      gaClientId: "(?m)(?<=GA_client_ID:).*$"
      ymClientId: "(?m)(?<=YM_client_ID:).*$"
  activity:
    pattern: "\\((?<key>[A-Za-zА-ЯЁа-яё0-9]+): (?<value>[^\\s:()]+)\\)$"

ecos:
  lead:
    ym-sync:
      cron-expression: 0 0 */6 * * *
      search-interval: 2
